PROJECT_NAME=oriahtech-wordpress-client1
SUBDOMAIN=client1
ROOT_DOMAIN=oriah.tech
TLS_EMAIL=hello@oriah.tech
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change_me_wordpress_db_password
WORDPRESS_TABLE_PREFIX=wp_
MARIADB_ROOT_PASSWORD=change_me_mariadb_root_password
